schemata/cgrid.isosch

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns="http://purl.oclc.org/dsdl/schematron" queryBinding="xslt2">
    <title>ISO Schematron rules</title>
    <!-- This file generated 2015-06-17T10:32:23Z by 'extract-isosch.xsl'. -->
    
    <!-- ********************* -->
    <!-- namespaces, declared: -->
    <!-- ********************* -->
    <ns prefix="sch" uri="http://purl.oclc.org/dsdl/schematron"/>
    <ns prefix="tei" uri="http://www.tei-c.org/ns/1.0"/>
    <ns prefix="xs" uri="http://www.w3.org/2001/XMLSchema"/>
    <ns prefix="xsl" uri="http://www.w3.org/1999/XSL/Transform"/>
    <ns prefix="eg" uri="http://www.tei-c.org/ns/Examples"/>
    
    <!-- ********************* -->
    <!-- namespaces, implicit: -->
    <!-- ********************* -->
    <ns prefix="tei" uri="http://www.tei-c.org/ns/1.0"/>
    
    <!-- ************ -->
    <!-- constraints: -->
    <!-- ************ -->
    <pattern id="cgrid-language-constraint-cgrid.article-language-1">
        <rule context="tei:language">
            <assert test="@ident=('de', 'en')">The primary language of the article should be given</assert>
        </rule>
    </pattern>
    <pattern id="cgrid-title-constraint-cgrid.article-title-2">
        <rule context="tei:title[parent::tei:titleStmt]">
            <assert test="@type">The type (main or sub) of the title should be given</assert>
        </rule>
    </pattern>
    <pattern>
        <let name="double.quotes" value="'[&#34;“”]'"/>
        <let name="apos.typographic" value="'[‘’]'"/>
        <let name="apos.straight" value="''''"/>
        <let name="quotes" value="concat('[', $apos.straight, '&#34;]')"/>
    </pattern>
    <pattern id="cgrid-constraint-jtei.sch-straightApos-5">
        <rule context="text()[not(ancestor::tei:eg|ancestor::eg:egXML|ancestor::tei:code|ancestor::tei:tag)]">
            <report test="matches(., $apos.straight)">
                "Straight apostrophe" characters are not permitted. Please use the
                Right Single Quotation Mark (U+2019 or ’) character instead. On the other hand, if the straight 
                apostrophe characters function as quotation marks, please replace them with appropriate mark-up 
                that will ensure the appropriate quotation marks will be generated consistently.
            </report>
        </rule>
    </pattern>
    <pattern id="cgrid-constraint-jtei.sch-LRquotes-6">
        <rule context="text()[not(ancestor::tei:eg|ancestor::eg:egXML|ancestor::tei:code|ancestor::tei:tag)][matches(., $apos.typographic)]">
            <report test="matches(., '\W[’]\D') or matches(., '[‘](\W|$)') or matches(., '\w[‘]\w')">
                Left and Right Single Quotation Marks should be used in the right place.
            </report>
        </rule>
    </pattern>
    <pattern id="cgrid-constraint-jtei.sch-quotationMarks-7">
        <rule context="text()[not(ancestor::tei:eg|ancestor::eg:egXML|ancestor::tei:code|ancestor::tei:tag)]">
            <report test="matches(., $double.quotes) or matches(., '(^|\W)[‘][^‘’]+[’](\W|$)')">
                Quotation marks are not permitted in plain text. Please use appropriate mark-up that will ensure the appropriate quotation marks will be generated consistently.
            </report>
        </rule>
    </pattern>
    <pattern id="cgrid-constraint-jtei.sch-doubleHyphens-8">
        <rule context="text()[not(ancestor::tei:eg|ancestor::eg:egXML|ancestor::tei:code|ancestor::tei:tag|ancestor::tei:ref)]">
            <assert test="not(contains(., '--'))">
                Double hyphens should not be used for dashes. Please use 
                the EM Dash (U+2014 or —) instead.
            </assert>
        </rule>
    </pattern>
    <pattern id="cgrid-constraint-jtei.sch-rangeHyphen-9">
        <rule context="text()[not(ancestor::tei:eg|ancestor::eg:egXML|ancestor::tei:code|ancestor::tei:tag|ancestor::tei:idno)][not(. = parent::*/@*)]">
            <assert test="not(matches(., '\d-\d'))">
                Numeric ranges should not be indicated with a hyphen. Please use 
                the EN Dash (U+2013 or –) character instead.
            </assert>
        </rule>
    </pattern>
    <pattern id="cgrid-constraint-jtei.sch-ieEg-10">
        <rule context="text()[not(ancestor::tei:eg|ancestor::eg:egXML|ancestor::tei:code|ancestor::tei:tag)]">
            <report test="matches(., '(i\.e\.|e\.g\.)[^,]', 'i')">
                You should put a comma after "i.e." and "e.g.". 
            </report>
        </rule>
    </pattern>
    <pattern id="cgrid-constraint-jtei.sch-localLinkTarget-11">
        <rule context="@*[not(ancestor::eg:egXML)][name() = ('corresp', 'target', 'from', 'to', 'ref', 'rendition', 'resp', 'source')][some $i in tokenize(., '\s+') satisfies starts-with($i, '#')]">
            <assert test="every $i in tokenize(., '\s+')[starts-with(., '#')] satisfies id( substring-after($i, '#'))">
                There's no local target for this link. Please make sure you use an existing @xml:id value.
            </assert>
        </rule>
    </pattern>
    <pattern id="cgrid-constraint-jtei.sch-quoteDelim-12">
        <rule context="tei:title[@level eq 'a']|tei:mentioned|tei:soCalled|tei:quote|tei:q">
            <assert test="not(matches(., concat('^', $double.quotes, '|', $double.quotes, '$')))">
                Quotation mark delimiters are not allowed for <name/>: they are completed at processing time via XSLT.
            </assert>
        </rule>
    </pattern>
    <pattern id="cgrid-constraint-jtei.sch-crossref-id-13">
        <rule context="tei:body//tei:div[not(@type='editorialIntroduction')]|tei:figure|tei:table"
            role="warning">
            <assert test="@xml:id">
                You're strongly advised to add an @xml:id attribute to <name/> to ease formal cross-referencing 
                with (ptr|ref)[@type='crossref']
            </assert>
        </rule>
    </pattern>
    <pattern id="cgrid-constraint-jtei.sch-formalCrossref-14">
        <rule context="text()[not(ancestor::tei:eg|ancestor::eg:egXML|ancestor::tei:code|ancestor::tei:tag|ancestor::tei:ref[not(@type='crossref')])]"
            role="warning">
            <assert test="not(matches(., '(table|figure|example|section) \d+([.,]\d+)* ((above)|(below))', 'i'))">
                Please replace literal references to tables, figures, examples, and sections with a formal crosslink:
                (ptr|ref)[@type="crossref"]
            </assert>
        </rule>
    </pattern>
    <pattern id="cgrid-constraint-jtei.sch-crossrefTargetType-15">
        <rule context="tei:ptr[@type='crossref']|tei:ref[@type='crossref']">
            <assert test="id(substring-after(@target, '#'))/(self::tei:div|self::tei:figure|self::tei:table|self::tei:floatingText)">
                Cross-links (<name/>[@type="crossref"]) should be targeted at div, figure, floatingText or table elements.
            </assert>
        </rule>
    </pattern>
    <pattern id="cgrid-constraint-jtei.sch-crossrefType-16">
        <rule context="tei:ptr[not(@type='crossref')]|tei:ref[not(@type='crossref')]">
            <report test="id(substring-after(@target, '#'))/(self::tei:div|self::tei:figure|self::tei:table)">
                Please type internal cross-references as 'crossref' (<name/>[@type="crossref"]).
            </report>
        </rule>
    </pattern>
    <pattern id="cgrid-constraint-jtei.sch-centuries-17">
        <rule context="text()[not(ancestor::tei:quote or ancestor::tei:title)]">
            <assert test="not(matches(., '\d\d?((th)|(st)|(rd)|(nd))[- ]centur((y)|(ies))', 'i'))">
                Centuries such as "the nineteenth century" should be spelled out, not written with digits.
            </assert>
        </rule>
    </pattern>
    <pattern id="cgrid-constraint-jtei.sch-teiVersion-18">
        <rule context="@target[contains(., 'http://www.tei-c.org/release/doc/tei-p5-doc')]">
            <assert test="false()">
                Please refer to the exact version of the TEI Guidelines, and link to the version that can be found in the Vault section. For an overview of all archived versions, see http://www.tei-c.org/Vault/P5/.
                
                If you're referring to the English version, the correct URL will likely take the form of http://www.tei-c.org/Vault/P5/{$version-number}/doc/tei-p5-doc/en/html/.
            </assert>
        </rule>
    </pattern>
</schema>
